#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}
h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
hr{
  padding-bottom: 50px;
}
.p1{
  font-size: 1.5rem;
}
.container-fluid{
  padding:3% 15% 10%;
}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 15px;
}
.nav-link{
  font-size: 1.5rem;
}
.title-text{
  padding:10% 0;
}
#Project-Question{
  padding: 7% 15%;
  background-color: #FFC7C7;
}
h2{
  font-weight: bold;
}
.casual-question{
  text-align: center;
}
.casual-answer{
  text-align:left;
  padding: 5% 7%;
}
.theme{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding: 3% 7%;
  background-color: #A8D8EA;
}
#Project{
  padding: 2% 10%;
  background-color: #FFC7C7;
}
.h1{
  text-decoration:underline;
}
ol{
  font-size: 1.2rem;
}
.transmitter{
  padding-bottom: 100px;
}
.PPT{
  text-align: center;
  color: #3490DE;
  padding-bottom: 30px;
}
#Team{
  background-color: #62D2A2;
  padding: 3% 10% 0;
}
.pictures{
  margin-left:200px;
  margin-bottom: 100px;
  height:200px;
  width:200px;
  border-radius: 100%;
  border-width: medium;
  border-style:solid;
}
.p{
  font-size: 1.6rem;
  padding-left: 20px;
  font-style: italic;
}
.carousel-item{
  padding-bottom: 50px;
}
.team-members{
  text-align: center;
  padding-bottom: 50px;
  text-decoration: underline;
}
#footer{
  padding-bottom: 50px;
  text-align: center;
}

.social-icons{
  margin:30px 10px;
  color: black;
}
@media (max-width:1300px){
    .p{
      padding: 2% 10%;
      margin-left: 10%;
    }
    .pictures{
      margin-top:50px;
      margin-left: 300px;
      margin-bottom: 0;
    }

}
